<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/adcdf23364.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>home</title>
</head>
<body>
    {% csrf_token %}
    <center>
    <h1>Welcome</h1>
    <h2>let's go and check my ToDo List</h2>
    </center>
        <div class="center">
            <a href="{% url 'signup'  %}" class='go'><i class="fa-solid fa-right-long"></i></a> 
        </div>

</body>
</html>
