body{
    background-image: url('/static/media/create.jpg');
    background-size: cover;
    margin: 0;
}
.navbar{
    width: 1470px;
    border-radius: 6px;
    
}
.button{
    float: right;
}
.navbar a{
    margin-left: 20px;
}
.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    margin-left: 650px;
    margin-top: 150px;
}
  
.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}
  
.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}
#pop{
    margin-top: 20px;
    margin-left: 710px;
}